/* style.css */
*{
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #fff;
    /* background-image: url('https://content.api.news/v3/images/bin/9820861edc5f8f29b11f69853bb35c8c');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

h1 {
    text-align: center;
    color: #333;
}

form {
    max-width: 500px;
    margin: 0.5% auto;
    /* margin-left: 10px; */
    margin-left: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group label,
.input-group input[type="text"] {
    flex: 0 0 48%;
}

input[type="text"] {
    width: calc(100% - 10px); /* Adjusting for borders and padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

select {
    width: calc(100% - 10px); /* Adjusting for borders and padding */
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}


